@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import "../extra/fontawesome/scss/fontawesome.scss";
@import "../extra/fontawesome/scss/solid.scss"; 
@import "../extra/fontawesome/scss/brands.scss"; 

@mixin buttonStyle($width, $heigth) {
    width: $width;
    height: $heigth;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background: #efefef;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
    transition: background-color 0.5s ease;
    cursor: pointer;

    &:hover {
        background-color: #dcdcdc;
    }
}

* {
    
}

body {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    font-family: 'Lato', sans-serif;
    background-color: rgb(173, 173, 173);
}

main {
    &#main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

section {
    //border: dotted red;
    height: 70vh;
    width: 25em;
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #cccccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    &.info div {
        padding-bottom: 1em;
    }

    & #buttonsDiv {
        margin-bottom: 2em;
        overflow: auto;
    }
    
}

h1 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 3em;
    padding-bottom: 1em;
}

h3 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
}

.subtitle {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    padding-bottom: 0.5em;
}

.divisorDiv {
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 7px;
    background-color: rgb(233, 233, 233);
    

    & .extraDiv {
        //background-color: azure;
        padding: 0.2em;
        margin: 0.2em;
        border-radius: 10px;
        padding-left: 2em;
    }
}

#addButton {
    @include buttonStyle(2.2em, 2.2em);
    margin-bottom: 1em;
}

.flex-center {
    display: flex;
    align-content: center;
    
    & button {
        @include buttonStyle(2.2em, 2.2em);
        font-size: 1.2em;
        margin: 1em;
    }
    
}

#sqlResult {
    //display: none;
    position: absolute;
    width: 70vw;
    height: 70vh;
    margin: auto;
    top: 0; bottom: 0; right: 0; left: 0;
    z-index: 9;
    transition: 1s ease;

    display: flex;

    justify-content: flex-start;
    align-items: flex-start;

    & header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        & button {
            @include buttonStyle(2.2em, 2.2em);
            font-size: 1.2em;
    
            margin: 1em;
        }
    }

    & main {
        overflow: auto;
        position: relative;
        width: auto;
        height: 50vh;
        padding: 1em;
        margin-right: 3em;
        margin-left: 3em;


        background: #242424;
        border-radius: 10px;
    }

    & footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        & button {
            @include buttonStyle(10em, 2.2em);
            font-size: 1.2em;
            font-family: inherit;
    
            margin: 1em;
        }
    }
}

.overlay {
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    width: 100%;
    height: 100vh;
    background: rgba($color: #000000, $alpha: 0.7);
    transition: 1s ease;
}